<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217684060706-1lmabrn0u6mvgdnfarc3krcv17pltdcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217684060706-1lmabrn0u6mvgdnfarc3krcv17pltdcp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>217684060706-fpfjf6m1ilofuj73q961kjeartvbaq3p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyEFeDxAcg3QoUsdWXkzDQOQVKWqx67BY</string>
	<key>GCM_SENDER_ID</key>
	<string>217684060706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.go.trust.gotrust.test</string>
	<key>PROJECT_ID</key>
	<string>firebase-nttfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-nttfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217684060706:ios:5596e5926c639b3e54f87b</string>
	<key>DATABASE_URL</key>
	<string>https://nttfinal.firebaseio.com</string>
</dict>
</plist>