<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789977948269-5gj8vcmajf0r7b9jv0b84va511qc0i73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789977948269-5gj8vcmajf0r7b9jv0b84va511qc0i73</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>789977948269-3vvddlnh82vaf6b2srap2kj4gucknh7s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjGVbF3deDFSMSTjKLDaUc3nyZ3JfB1K8</string>
	<key>GCM_SENDER_ID</key>
	<string>789977948269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.go.trust.gotrust</string>
	<key>PROJECT_ID</key>
	<string>gotrust-login</string>
	<key>STORAGE_BUCKET</key>
	<string>gotrust-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789977948269:ios:70da99e5e8e77d78cc1f64</string>
</dict>
</plist>